:root {
    /* Core colors */
    --caeruleum: #4a80ff;
    --caeruleum-orange: #ff4020;
    /* General colors */
    --caeruleum-white: #f7faff;
    --caeruleum-grey: #a49b98;
    --caeruleum-black: #0e1014;
    /* Supplementary colors */
    --caeruleum-red: #cc1650;
    --caeruleum-green: #19e680;
    /* Misc colors */
    --caeruleum-dark: #122040;
    --caeruleum-dark-red: #400719;
    --caeruleum-dark-grey: #403c3b;

    /* Misc */
    --caeruleum-soft-shadow: 0 0 20px -10px var(--caeruleum-black);
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--caeruleum-white);
    background-color: var(--caeruleum-white);
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 1000px;
    max-width: 1500px;
    min-height: calc(100vh - 2rem);
    top: 2rem;
    left: 50%;
    margin: 0;
    border-radius: 30px 30px 0 0;
    transform: translateX(-50%);
    box-shadow: 0 0 30px -20px var(--caeruleum-black);
    transition: 0.2s cubic-bezier(1,.5,.6,1);
}
body > * {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

@media (max-width: 1000px) {
    body {
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: none;
        transform: none;
    }
}
@media only screen and (max-width: 700px) {
    body {
        width: 100%;
        left: 0;
        box-shadow: none;
        left: 0;
        transform: none;
    }
}


/* Main Title */
.caeruleum-title {
    width: 100%;
    margin: 0 0 2rem 0;
    --title-offset: 40%;
    position: relative;
    background: linear-gradient(90deg, var(--caeruleum-white) calc(50% - var(--title-offset)), var(--caeruleum) calc(50% - var(--title-offset)), var(--caeruleum) calc(50% + var(--title-offset)), var(--caeruleum-white) calc(50% + var(--title-offset)));
    box-shadow: inset 0 -10px 30px -20px var(--caeruleum-black);
    border-radius: 20px 20px 0 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
.caeruleum-title::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(50% + 60px);
    height: 200%;
    top: -50%;
    left: calc(-1*var(--title-offset));
    transform: skew(45deg);
    background-color: var(--caeruleum-white);
    box-shadow: 0 0 20px -5px var(--caeruleum-black);
    z-index: 1;
    transition: all 0.5s cubic-bezier(1,.5,.6,1);
}
.caeruleum-title::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(50% + 60px);
    height: 200%;
    top: -50%;
    right: calc(-1*var(--title-offset));
    transform: skew(-45deg);
    background-color: var(--caeruleum-white);
    box-shadow: 0 0 20px -5px var(--caeruleum-black);
    z-index: 1;
    transition: all 0.5s cubic-bezier(1,.5,.6,1);
}
.caeruleum-title > h1 {
    display: block;
    position: relative;
    width: auto;
    text-align: center;
    font-size: 48px;
    margin: 0.2rem;
    /* text-transform: uppercase; */
    color: var(--caeruleum-white);
}


/* Navigation */
.caeruleum-nav {
    color: var(--caeruleum-white);
    background-color: var(--caeruleum);

    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;

    font-size: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.caeruleum-nav::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
    box-shadow: inset 0 0 20px -10px var(--caeruleum-black);
}
.caeruleum-nav > * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.caeruleum-nav > * > * {
    flex-grow: 1;
    text-align: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    transition: flex-grow 0.2s cubic-bezier(0,1,1,1);
}
.caeruleum-nav > * > *::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: 100%;
    background-color: var(--caeruleum);
    box-shadow: 0 0 20px 0px var(--caeruleum-black);
    transform: skew(45deg);
    transition: all 0.2s cubic-bezier(0,1,1,1);
}
.caeruleum-nav > * > *:first-child::before {
    left: -40px;
    width: calc(100% + 40px);
}
.caeruleum-nav > * > *:last-child::before {
    width: calc(100% + 40px);
}
/* Hover */
.caeruleum-nav > * > *:hover {
    flex-grow: 2.5;
}
.caeruleum-nav > * > *:hover::before {
    background-color: var(--caeruleum-orange);
}
/* Hover */
.caeruleum-nav > * > * > * {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--caeruleum-white);
    padding: 15px 30px;
}
.caeruleum-nav > * > * > a:link {
    text-decoration: none;
    color: var(--caeruleum-white);
}
.caeruleum-nav > * > * > a:visited {
    text-decoration: none;
}
.caeruleum-nav > * > * > a:active {
    text-decoration: none;
}


/* Section */
.caeruleum-section {
    border-radius: 5px;
    overflow: hidden;
}
.caeruleum-section > input[type=checkbox] {
    height: 0;
	width: 0;
	visibility: hidden;
	display: none;
}
.caeruleum-section > label > span {
    position: relative;
    display: block;
    text-align: left;
    color: var(--caeruleum-white);
    font-size: 22px;
    padding: 1rem;
    padding-left: 3rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.caeruleum-section > label {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: var(--caeruleum-dark);
    box-shadow: var(--caeruleum-soft-shadow);
    overflow: hidden;
}
.caeruleum-section > label::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 80px);
    height: calc(100% + 40px);
    top: -20px;
    background-color: var(--caeruleum-orange);
    transform: skew(45deg) translateX(calc(-100% - 40px));
    box-shadow: inset 0 0 20px 0 var(--caeruleum-black);
    transition: all 0.2s ease-in-out;
}
.caeruleum-section > label::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(1rem + 6px);
    left: calc(1rem);
    width: 0;
	height: 0;

    --size: 10px;
	border-right: var(--size) solid  transparent; 
	border-left: var(--size) solid  transparent; 
    border-bottom: calc(2*var(--size) * 0.866) solid var(--caeruleum-orange);
    transform: rotate(180deg);

    transition: all 0.2s linear;
}
.caeruleum-section > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.caeruleum-section > div > div {
    padding: 0.5rem 1rem;
    box-shadow: inset 0 0 20px -10px var(--caeruleum-black);
    transition: background-color 0.2s ease-in-out;
}
.caeruleum-section > div > div > p {
    font-size: 20px;
    margin: 0;
    color: var(--caeruleum-dark-grey);
}
.caeruleum-section > input[type=checkbox]:checked ~ label::before {
    background-color: var(--caeruleum);
    transform: skew(45deg) translateX(-40px);
}
.caeruleum-section > input[type=checkbox]:checked ~ label::after {
    border-bottom-color: var(--caeruleum-dark);
    transform: rotate(0deg);
}
.caeruleum-section > input[type=checkbox]:checked ~ div {
    max-height: 100vh;
}
/* Hover */
.caeruleum-section {
    --offset-px: 100px;
    --offset-pc: 18%;
}
.caeruleum-section > label:hover::before {
    transform: skew(45deg) translateX(calc(-100% + min(var(--offset-pc), var(--offset-px))));
}
.caeruleum-section > input[type=checkbox]:checked ~ label:hover::before {
    transform: skew(45deg) translateX(min(var(--offset-pc), var(--offset-px)));
}
.caeruleum-section > label:hover::after {
    border-bottom-color: var(--caeruleum);
}
.caeruleum-section > input[type=checkbox]:checked ~ label:hover::after {
    border-bottom-color: var(--caeruleum-orange);
}
/* Hover */






/* Flex template */
.caeruleum-flex {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    justify-content: space-between;
    align-content: flex-start;
}
.caeruleum-flex > * {
    flex-basis: 300px;
    align-self: auto;
}



.caeruleum-toggle {
	--width: 100px;
	--height: 50px;
}
/* Toggle */
.caeruleum-toggle {
    width: var(--width);
	height: var(--height);
}
.caeruleum-toggle > input[type=checkbox] {
	visibility: hidden;
	display: none;
}
.caeruleum-toggle > label {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	cursor: pointer;
    background-color: var(--caeruleum-dark);
	border-radius: 5px;
	transition: 0.2s all;
	overflow: hidden;
}
.caeruleum-toggle > label::before {
	content: '';
	text-align: center;
	position: absolute;
	top: 10%;
	left: calc(var(--height)*0.1);
	width: calc(var(--height)*0.8);
	height: 80%;
	background: var(--caeruleum-white);
	transition: 0.2s all ease;
	border-radius: 5px;
    overflow: hidden;
}
.caeruleum-toggle > input[type=checkbox]:checked + label {
	background: var(--caeruleum);
}
.caeruleum-toggle > input[type=checkbox]:checked + label::before {
	left: calc(100% - var(--height)*0.1);
	transform: translateX(-100%) rotate(90deg);
}
/* Hover */
.caeruleum-toggle:hover > label::before {
    box-shadow: inset 0 0 0 calc(var(--height)/2) var(--caeruleum-orange);
}
.caeruleum-toggle:hover > input[type=checkbox]:checked + label::before {
    box-shadow: inset 0 0 0 calc(var(--height)/2) var(--caeruleum-dark);
}





.caeruleum-text {
    --radius: 5px;
    --outline-width: 4px;
    --shake-amp: 4px;
}
/* Text */
.caeruleum-text {
    display: block;
    font-size: 24px;
    background-color: var(--caeruleum-white);
    color: var(--caeruleum-black);

    outline: var(--caeruleum) solid 0;
    border: none;
    cursor: text;
    border-radius: 5px;
    padding: 5px;

    transition: all 0.2s ease;
}
.caeruleum-text:focus {
    outline: var(--caeruleum) solid var(--outline-width);
    background-color: var(--caeruleum-black);
    color: var(--caeruleum-white);
}
/* Hover */
.caeruleum-text:hover {
    outline: var(--caeruleum) solid var(--outline-width);
}
.caeruleum-text.valid {
    outline: var(--caeruleum-green) solid var(--outline-width);
}
.caeruleum-text.invalid {
    outline: var(--caeruleum-red) solid var(--outline-width);
}
.caeruleum-text.shake {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}
@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(var(--shake-amp));
    }
    50% {
        transform: translateX(calc(-1*var(--shake-amp)));
    }
    75% {
        transform: translateX(var(--shake-amp));
    }
    100% {
        transform: translateX(0px);
    }
}
