#control {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4rem;
}

#create-entry {
    background-color: var(--caeruleum);
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
    --offset: 10px;
    box-shadow: 0 var(--offset) 0 0 hsl(222, 50%, 30%), 0 var(--offset) 10px 0 black;
    transition: all 0.1s ease, background-color 0.3s ease;
}
#create-entry:active {
    transform: translateY(var(--offset));
    box-shadow: 0 0 0 0 var(--caeruleum-dark) !important;
}
#create-entry > img {
    width: 80px;
    height: 80px;
    filter: invert();
    box-sizing: content-box;
    display: block;
    padding: 1rem;
}


#categories-list-wrapper {
    border-radius: 10px;
    overflow: hidden;
}
#open-categories-list {
    display: none;
}
#categories-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 20px -10px black;
}
.category-item {
    color: var(--caeruleum-white);
    transition: height 0.2s ease, background-color 0.2s ease;
    overflow: hidden;
    box-shadow: 0 0 20px -5px black;
}
.category-item > span {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem 1rem;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.category-item > div {
    width: 100%;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.category-item > div > img {
    display: block;
    width: 50px;
    filter: invert();
    padding: 0.5rem;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease;
}
.category-item > div > img:active {
    animation-name: wobble;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    --amp: -5px;
    background-color: hsla(0, 0%, 100%, 0.2);
}

/* Category Edit */
#category-edit {
    display: none;
    position: absolute;
    border: 5px solid var(--caeruleum-white);
    border-radius: 20px;
    background-color: var(--caeruleum-white);
    overflow: hidden;
    transition: all 0.2s ease;
}
#category-edit.active {
    display: block;
}
#category-inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 5px;
}
#category-name {
    width: 15ch;
}
#category-color-select {
    /* width: 100%; */
    cursor: pointer;
    font-family: inherit;
    font-size: large;
    color: var(--caeruleum-dark-grey);
    background-color: var(--caeruleum-white);
    border-radius: 10px;
}
#selected-color {
    padding: 20px;
    border-radius: 10px;
    transition: all 0.1s ease;
    border: 2px solid #e6e6e6;
}
#dropdown {
    display: none;
    position: fixed;
    transform: translateY(-100%);
    z-index: 10;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    box-sizing: content-box !important;
    background-color: var(--caeruleum-white);
    padding: 5px;
    border-radius: 10px;
}
#dropdown.active {
    display: grid;
}
#dropdown > div {
    padding: 20px;
    border-radius: 10px;
}


@media (hover: hover) and (pointer: fine) {
    #create-entry:hover {
        background-color: var(--caeruleum-orange);
        box-shadow: 0 var(--offset) 0 0 hsl(9, 50%, 30%), 0 var(--offset) 10px 0 black;
        /* --m: 0.3;
        transform: translateY(calc(var(--m)*var(--offset)));
        box-shadow: 0 calc(calc(1 - var(--m))*var(--offset)) 0 0 var(--caeruleum-darker), 0 calc(calc(1 - var(--m))*var(--offset)) 20px -5px black; */
    }
    .category-item > div > img:hover {
        animation-name: wobble;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        --amp: -5px;
        background-color: hsla(0, 0%, 100%, 0.2);
    }
    #selected-color:hover {
        animation-name: wobble;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        --amp: -5px;
    }
    #save-button:hover {
        background-color: var(--caeruleum-orange);
    }
    #dropdown > div:hover {
        outline: 2px solid var(--caeruleum-dark);
    }
}
